<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="source-built" value="/home/wei/WorkSpace/Open_Source/Microsoft-DotNet/000.SOURCE_CODE/000.DotNet-RELEASE-V8.0.7/dotnet-8.0.7/artifacts/obj/x64/Debug/blob-feed/packages/" />
    <add key="reference-packages" value="/home/wei/WorkSpace/Open_Source/Microsoft-DotNet/000.SOURCE_CODE/000.DotNet-RELEASE-V8.0.7/dotnet-8.0.7/prereqs/packages/reference/" />
    <add key="previously-source-built" value="/home/wei/WorkSpace/Open_Source/Microsoft-DotNet/000.SOURCE_CODE/000.DotNet-RELEASE-V8.0.7/dotnet-8.0.7/prereqs/packages/previously-source-built/" />
    <add key="prebuilt" value="/home/wei/WorkSpace/Open_Source/Microsoft-DotNet/000.SOURCE_CODE/000.DotNet-RELEASE-V8.0.7/dotnet-8.0.7/prereqs/packages/prebuilt/" />
  </packageSources>
  <config>
    <!-- This path is relative as a workaround to https://github.com/NuGet/Home/issues/2831 -->
    <!-- <add key="globalPackagesFolder" value="packages" />  -->
    <add key="repositoryPath" value="packages" />
  </config>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>