<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="source-built" value="/home/wei/WorkSpace/Open_Source/Microsoft-DotNet/000.SOURCE_CODE/000.DotNet-RELEASE-V8.0.7/dotnet-8.0.7/artifacts/obj/x64/Release/blob-feed/packages/" />
    <add key="reference-packages" value="/home/wei/WorkSpace/Open_Source/Microsoft-DotNet/000.SOURCE_CODE/000.DotNet-RELEASE-V8.0.7/dotnet-8.0.7/prereqs/packages/reference/" />
    <add key="previously-source-built" value="/home/wei/WorkSpace/Open_Source/Microsoft-DotNet/000.SOURCE_CODE/000.DotNet-RELEASE-V8.0.7/dotnet-8.0.7/prereqs/packages/previously-source-built/" />
    <add key="prebuilt" value="/home/wei/WorkSpace/Open_Source/Microsoft-DotNet/000.SOURCE_CODE/000.DotNet-RELEASE-V8.0.7/dotnet-8.0.7/prereqs/packages/prebuilt/" />
  </packageSources>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <config>
    <!-- Location of .packages is forced by Arcade in their scripts, but we also want this to be respected by VS, so we want to keep this setting here. -->
    <!-- When building isolated test projects we copy this file into temp and replace ".packages" with full path to that folder. -->
    <add key="globalPackagesFolder" value=".packages" />
  </config>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>